doctype 
html(lang="en")
    head
        meta(charset="UTF-8")
        |    
        title
        //- inject:css
        //- endinject
        //- inject:js
        //- endinject
    body(ng-app="exampleApp")
        .container(ng-controller="MainCtrl")
            .panel
                h3.panel-header
                    |To Do List 
                    span.label.label-info
                        |{{(todos | filter: {complete: 'false'}).length}}

            table.table
                thead
                    tr
                        th #
                        th Action
                        th Done
                    tr(ng-repeat="item in todos")
                        td {{$index + 1}}
                        td {{item.action}}
                        td {{item.complete}}
