doctype 
html(lang="en")
    head
        meta(charset="UTF-8")
        |    
        title
        //- inject:css
        //- endinject
        //- inject:js
        //- endinject
    body(ng-app="exampleApp")
        .container(ng-controller="MainCtrl")
            .well
                h3 
                    |{{message}}

            ui-view
